.about-us-container {
  max-width: 620px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 1.1rem;
  text-align: left;
}

.about-us-description {
  font-size: 1.3rem;
  font-weight: 600;
  color: #c8e6c9;
}
